{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    InternationsTest Dashboard
{% endblock %}

{% block main %}
    
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{% if users %}{{ users }}{% else %}0{% endif %}</h3>
                    <p>Users</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{% if groups %}{{ groups }}{% else %}0{% endif %}</h3>
                    <p>Groups</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}